<div class="container">
<div class="col-md-8 mx-auto mr-3v">
  <div class="top mx-auto mt-3">
    <div class="py-md-5 text-center h5">
        <span>ようこそ、NaganoCakeへ！<span><br>
        <span>このサイトはケーキ販売のECサイトになります。</span><br>
        <span>会員でない方も商品の閲覧はできますが、</span><br>
        <span>購入には会員登録が必要になります。</span><br>

    </div>
  </div>

        <p></p>
        <div class="mx-auto">
        <h3>オススメ商品</h3>
       <div class="row">
                <% @products.last(4).each do |product| %>
                    <div class="col-xs-1 pr-5">
                        <%= link_to publics_product_path(product.id), style: "color: black;" do %>
                            <%= image_tag product.image, size:'100x100', format: 'jpeg' %><br>
                            <%= product.name %><br>
                            ￥<%= product.price %>
                        <% end %>
                    </div>
                <% end %>
    </div>
   </div>
   <p class="text-right h4"><%= link_to "全ての商品を見る", publics_products_path, class: "btn-link  pull-right" %></p>
  </div>
</div>