<div class="container mt-5">
  <div class="row">
    <div class="col col-xl-3 text-center">
      <h2 class="bg-light text-black">配送先一覧/登録</h2>
    </div>
  </div>
    <%= form_with model: @shipping_address, url: publics_shipping_addresses_path, class: "col-12", local: true do |f| %>

    <%= render "public/shared/error_messages", resource: @shipping_address %>

      <div class="new-shipping_address row mt-5 ml-0 mr-0">
        <%= f.label "郵便番号(ハイフンなし)",  class: "col-3 mr-3" %>
        <%= f.text_field :post_code, placeholder: "0000000" %>
      </div>

      <div class="new-shipping_address row mt-2 ml-0 mr-0">
        <%= f.label "住所", class: "col-3 mr-3" %>
        <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", :size=>"50" %>
      </div>

      <div class="new-shipping_address row mt-2 ml-0 mr-0">
        <%= f.label "宛名", class: "col-3 mr-3" %>
        <%= f.text_field :name, placeholder: "令和道子" %>
        <%= f.submit "新規登録", class: "btn btn-success col-3 offset-md-3" %>
      </div>

    <% end %>

<div class="shipping_addresses-index row mt-5">
  <table class="table table-hover table-bordered table-condensed">
      <thead>
        <tr class="table-active">
          <th class="border border-dark">郵便番号</th>
          <th class="border border-dark">住所</th>
          <th class="border border-dark">宛名</th>
          <th class="border border-dark">編集/削除</th>
        </tr>
      </thead>




    <tbody>
      <% @shipping_addresses.each do |shipping_addresses| %>
          <tr>
            <td class="border border-dark">〒<%= shipping_addresses.post_code %></td>
            <td class="border border-dark"><%= shipping_addresses.address %></td>
            <td class="border border-dark"><%= shipping_addresses.name %></td>
            <td class="border border-dark text-center">
              <%= link_to "編集する", edit_publics_shipping_address_path(shipping_addresses), class: "btn btn-success" %>
              <%= link_to "削除する", publics_shipping_address_path(shipping_addresses), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
            </td>
          </tr>
        <% end %>
    </tbody>

  </table>
</div>
</div>





