<div class="container">
  <h1>会員情報編集</h1>
  <%= form_with model: @customer, url: publics_customers_path, method: :patch do |f| %>
    <div class="row">
      <div class="col">
        <label>氏名</label>
          <%= f.text_field :last_name %>
          <%= f.text_field :first_name %><br>
        <label>フリガナ</label>
          <%= f.text_field :last_name_kana %>
          <%= f.text_field :first_name_kana %><br>
        <label>郵便番号</label>
          <%= f.text_field :post_code %><br>
        <label>住所</label>
          <%= f.text_field :address %><br>
        <label>電話番号</label>
          <%= f.text_field :phone_number %><br>
        <label>メールアドレス</label>
          <%= f.text_field :email %><br>
          <%= f.submit "編集内容を保存", class: "btn btn-success" %>
          <%= link_to "退会する", publics_customers_exit_path, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>