<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
            <li="customer_name">
              ようこそ、<%= current_customer.last_name %>さん!
            </li>
            <li="ml-3">
              <%= link_to "マイページ", publics_customers_path, class: "btn btn-outline-secondary" %>
            </li>
            <li="ml-3">
              <%= link_to "商品一覧", publics_products_path, class: "btn btn-outline-secondary" %>
            </li>
            <li="ml-3">
              <%= link_to "カート", publics_cart_products_path, class: "btn btn-outline-secondary" %>
            </li>
            <li="ml-3">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary" %>
            </li>
          <% elsif admin_signed_in? %>
            <li="ml-3">
              <%= link_to "商品一覧", admins_products_path, class: "btn btn-outline-secondary" %>
            </li>
            <li="ml-3">
              <%= link_to "会員一覧", admins_customers_path, class: "btn btn-outline-secondary" %>
            </li>
            <li="ml-3">
              <%= link_to "注文履歴一覧", admins_path, class: "btn btn-outline-secondary" %>
            </li>
            <li="ml-3">
              <%= link_to "ジャンル一覧", admins_genres_path, class: "btn btn-outline-secondary" %>
            </li>
            <li="ml-3">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary" %>
            </li>
          <% else %>
            <li="mr-3">
              <%= link_to "About", about_path, class: "btn btn-outline-secondary" %>
            </li>
            <li="ml-3">
              <%= link_to "商品一覧", publics_products_path, class: "btn btn-outline-secondary" %>
            </li>
            <li="ml-3">
              <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-secondary" %>
            </li>
            <li="ml-3">
              <%= link_to "ログイン", customer_session_path, class: "btn btn-outline-secondary" %>
            </li>
          <% end %>
        </ul>
      </div>
      </div>
    </nav>
  </header>
<%= yield %>

<div style="height: 100px"></div>

<nav class="navbar fixed-bottom navbar-light bg-light" style="height: 10%">
  <div class="container-fluid min-vh-20"></div>
</nav>

  </body>
</html>
